.About_body_first {
    padding: 60px 0;
    background-color: aqua;
}

/* About Text */
.About_body_first_item {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.About_body_first h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative; /* after의 기준이 되기 위함 */
    font-family: var(--heading-font);
    color: #37517e;
}
/* 라인 구현 */
.About_body_first h2::before {
    position: absolute;
    content: "";
    display: block;
    background-color: pink;
    width: 160px;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 1px;
    margin: auto;
}
.About_body_first h2::after {
    content: "";
    background-color: red;
    display: block;
    position: absolute;
    width: 60px;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
}