.About {
    font-family: var(--heading-font);
}

.About_body_first {
    padding: 60px 0;
    background-color: gray;
}

/* About Text */
.About_body_first_title {
    padding: 0 12px;
    padding-bottom: 60px;
}
.About_body_first_item {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.About_body_first h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative; /* after의 기준이 되기 위함 */
    font-family: var(--heading-font);
    color: #37517e;
}
/* 라인 구현 */
.About_body_first h2::before {
    position: absolute;
    content: "";
    display: block;
    background-color: pink;
    width: 160px;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 1px;
    margin: auto;
}
.About_body_first h2::after {
    content: "";
    background-color: red;
    display: block;
    position: absolute;
    width: 60px;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
}

/* list 앞에 붙는 check 문자 */
.About_body_first_item > div li::before {
    content: "\f270";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
}

.About_body_first_item > div {
    margin-top: 24px;
    padding: 0 12px;
    width: 456px;
    height: 209px;
}

.About_body_first_item > div p {
    margin-top: 0;
}
.About_body_first_item > div ul {
    list-style: none;
    padding-left: 0;
}
.About_body_first_item > div li {
    width: 456px;
    height: 30px;
    padding-bottom: 5px;
}

.About_body_first_item > div a {
    color: #47b2e4;
    padding: 8px 28px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid #47b2e4;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* Read More 뒤에 붙는 화살표 */
.About_body_first_item > div > a > i::before {
    content: "\f138";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
}
/* About page만 예외적으로 width를 전체 채우기 위해 작성 */
#About_container {
    height: 100%;
    width: calc(100% + 200px);
    position: relative;
    left: -88px;
}
.About_body_second {
    padding: 30px 0;
    background-color: #f5f6f8;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
}

.About_body_second_item > p {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
}

.About_body_second > div > h3 {
    color: var(--heading-color);
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 0px;
}

.About_body_second_item {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.About_body_second > div > h3 strong {
    font-weight: bold;
}

.About_body_second_item  > p {
    margin-top: 0px;
    margin-bottom: 16px;
}

.About_body_second_left_all {
    box-sizing: content-box;
    width: 100%;
}

.About_body_second_left {
    margin-bottom: 20px;
    background-color: var(--surface-color);
    padding: 20px 20px;
    box-sizing: content-box;
    max-width: 100%;
}

#About_body_second_item {
    flex: 2;
}

input[type="checkbox"] {
    appearance: none; /* 기본 체크박스 스타일 제거 */
    -webkit-appearance: none; /* Safari 대응 */
    -moz-appearance: none; /* Firefox 대응 */
    display: none;
}

label h3 {
    cursor: pointer; /* 클릭 가능한 상태로 커서 변경 */
    color: var(--heading-color);
    font-size: 17px;
    margin: 0;
    transition: var(--accent-color) 0.3s ease; /* 색상 전환 효과 */
}

label h3 > span {
    color: var(--accent-color);
    padding-right: 5px;
}

label img {
    cursor: pointer;
    filter: invert(30%) sepia(69%) saturate(350%) hue-rotate(177deg) brightness(90%) contrast(99%);
    width: 16px;
    height: 16px;
}

.About_checkbox_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.About_body_second_left > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.About_body_second_left_detail {
    padding-top: 10px;
}

.About_body_second_left_detail > p {
    margin: 0;
}

.About_checkbox_last {
    margin-bottom: 0;
}

/* 우측 이미지 */
.About_body_second_item > img {
    transform: translateZ(0) scale(1);
    max-width: 80%;
    max-height: 100%;
    box-sizing: content-box;
}

.About_body_third {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: content-box;
    padding: 60px 20px
}

.About_body_third_item {
    display: flex;
    padding: 0 12px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.About_body_third_item > img {
    max-width: 95%;
}

.About_body_third_right {
    display: flex;
    flex-direction: column;
}

.About_body_third_right > h3 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 32px;
    color: var(--heading-color);
}

.About_body_third_right > p {
    margin: 0;
    margin-bottom: 16px;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
}

.About_graph {
    width: 456px;
    height: 60px;
}

.About_graph_title {
    display: flex;
    justify-content: space-between;
    color: var(--default-color);
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 12px;
}

.About_graph_total {
    position: relative;
    width: 456px;
    height: 10px;
    background: color-mix(in srgb, var(--heading-color), transparent 90%);
    z-index: 0;
}

.About_graph_percent {
    position: absolute;
    width: 456px;
    height: 10px;
    background-color: var(--heading-color);
    z-index: 1;
}

.About_graph_css {
    width: 90%;
}

.About_graph_js {
    width: 75%;
}

.About_graph_pts {
    width: 55%;
}