.About {
    font-family: var(--heading-font);
}

.About_body_first {
    padding: 60px 0;
    background-color: aqua;
}

/* About Text */
.About_body_first_title {
    padding: 0 12px;
    padding-bottom: 60px;
}
.About_body_first_item {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.About_body_first h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative; /* after의 기준이 되기 위함 */
    font-family: var(--heading-font);
    color: #37517e;
}
/* 라인 구현 */
.About_body_first h2::before {
    position: absolute;
    content: "";
    display: block;
    background-color: pink;
    width: 160px;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 1px;
    margin: auto;
}
.About_body_first h2::after {
    content: "";
    background-color: red;
    display: block;
    position: absolute;
    width: 60px;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
}

/* list 앞에 붙는 check 문자 */
.About_body_first_item > div li::before {
    content: "\f270";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
}

.About_body_first_item > div {
    margin-top: 24px;
    padding: 0 12px;
    width: 456px;
    height: 209px;
}

.About_body_first_item > div p {
    margin-top: 0;
}
.About_body_first_item > div ul {
    list-style: none;
    padding-left: 0;
}
.About_body_first_item > div li {
    width: 456px;
    height: 30px;
    padding-bottom: 5px;
}

.About_body_first_item > div a {
    color: #47b2e4;
    padding: 8px 28px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid #47b2e4;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* Read More 뒤에 붙는 화살표 */
.About_body_first_item > div > a > i::before {
    content: "\f138";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
}