body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin: 0 auto;
    color: var(--default-color);
    background-color: red;
    box-sizing: border-box;
    font-family: var(--default-font);
}