:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #c4c8cb;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33, 37, 41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233, 236, 239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33, 37, 41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-heading-color: inherit;
    --bs-link-color: #0d6efd;
    --bs-link-color-rgb: 13, 110, 253;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #0a58ca;
    --bs-link-hover-color-rgb: 10, 88, 202;
    --bs-code-color: #d63384;
    --bs-highlight-color: #212529;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
    --bs-form-valid-color: #198754;
    --bs-form-valid-border-color: #198754;
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545;
    --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Jost", sans-serif;
    --nav-font: "Poppins", sans-serif;
    --nav-color: #ffffff;
    --nav-hover-color: #47b2e4;
    --nav-mobile-background-color: #ffffff;
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #444444;
    --nav-dropdown-hover-color: #47b2e4;
    --background-color: #ffffff;
    --default-color: #444444;
    --heading-color: #37517e;
    --accent-color: #47b2e4;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100dvh;
}

.Home {
    height: 50px;
    background-color: white;
}

/*Team*/
.Team {
    padding: 60px 0;
    margin: 0 117px;
}
.section_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 12px;
    padding-bottom: 50px;
    
}
.section_title p {
    padding: 10px;
}
.title_name {
    font-size: 32px;
    font-weight: 700;
    color: #37517e;
    text-transform: uppercase;
    
}
.underline_gray {
    position: absolute;
    height: 1px;
    width: 160px;
    background-color: gray;
    top:90px;
}
.underline_blue {
    position: absolute;
    height: 3px;
    width: 60px;
    background-color: #47b2e4;
    top: 89px;
}

.membercard {
    display: flex;
    align-items: center;
    gap:30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: 0.5s;
    padding: 30px;
    margin-bottom: 30px;
}
.membercard:hover {
    transform: translateY(-10px); 
}
.member_picture img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.member_name {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
    font-family: "Jost", sans-serif; /*적용X*/
}
.memeber_job {
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: 500;

}
.middle_line {
    width: 50px;
    height: 1px;
    background: color-mix(in srgb, #444444, transparent 80%);
}
.member_text {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.member_social {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}
.ironback {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color-mix(in srgb, #444444, transparent 94%);

}

.ironback svg, .ironback img{
    height: 18px;
}
.member_social a:hover {
    background-color: #47b2e4;
    img {
        filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(183deg) brightness(104%) contrast(100%);
    }
}

#membercard_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 990px) {
    #membercard_container {
      grid-template-columns: 1fr; 
    }
}

/*pricing*/
.Pricing {
    position: relative;
    width: 100vw; /* 뷰포트의 전체 너비 */
    margin-left: calc(-50vw + 50%); /* 부모의 가운데 정렬을 유지한 채 확장 */
    background-color: #f5f6f8; /*var(--background-color);*/
    padding: 60px 0;
}
#pricing_container {
    max-width: 85%; /* 내부 콘텐츠의 최대 너비 */
    margin: 0 auto;
}
.pricingcard {
    background-color: #ffffff;/*var(--surface-color);*/
    box-shadow: 0 3px 20px -2px rgba(0, 0, 0, 0.1);
    border-top: 4px solid #f5f6f8;/*var(--background-color);*/
    padding: 60px 40px;
    height: 100%;
    border-radius: 5px;
    width: 440px;
}
.pricingcard h3 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    color: #37517e; /*var(--heading-color);
    font-family: var(--heading-font);*/
}
.pricingcard h4 {
    color: #47b2e4; /* 메인 색상 */
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    display: flex;
    align-items: flex-start; /* 세로 정렬 조정 */
    gap: 4px; /* 요소 간격 조정 */
    position: relative;
}

.sub {
    font-size: 28px; /* $ 기호 크기 */
    color: #47b2e4;
    position: absolute;
    
}
.price {
    font-size: 48px; /* 숫자 크기 */
    font-weight: 700;
    color: #47b2e4;
    margin-left: 15px;
}
.month_0 {
    color: color-mix(in srgb, #444444, transparent 50%);/*color-mix(in srgb, var(--default-color), transparent 50%);*/
    font-size: 18px;
    position: absolute;
    top: 30px;
    left: 50px;
}
.month {
    color: color-mix(in srgb, #444444, transparent 50%);/*color-mix(in srgb, var(--default-color), transparent 50%);*/
    font-size: 18px;
    position: absolute;
    top: 30px;
    left: 80px;
}
.pricing_li svg {
    width: 45px;
    height: 15px;
}
.pricing_li{
    padding: 20px 0;
    list-style: none;
    color: color-mix(in srgb, #444444, transparent 30%);/*color-mix(in srgb, var(--default-color), transparent 30%);*/
    text-align: left;
    line-height: 20px;
    margin-top: 0;
}
.pricing_li li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.pricing_li .no {
    text-decoration: line-through;
    color: color-mix(in srgb, var(--default-color), transparent 60%); /*color-mix(in srgb, var(--default-color), transparent 60%);*/
}
.pricing_button {
    color: #47b2e4; /*var(--accent-color);*/
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    /*font-family: var(--heading-font);*/
    transition: 0.3s;
    border: 1px solid #47b2e4;/*var(--accent-color);*/
    transition: none;
    background-color: #ffffff;
    cursor: pointer;
}
#pricing_button2 {
    color: #ffffff;
    background-color:#47b2e4;
}
#pricingcard2 {
    border-top-color: #47b2e4;/*var(--accent-color);*/
}
.pricing_button:hover {
    color: #ffffff;
    background-color:#47b2e4;
}
#pricingcard_container {
    display: flex;
    justify-content: center;
}
@media (max-width: 990px) {
    #pricingcard_container {
        display: grid;
        grid-template-columns: 1fr; 
        justify-items: center;
        gap:30px;
    }
    .pricingcard {
        width: 660px;
        height: 420px;
    }
}
@media (max-width: 748px) {
    #pricingcard_container {
        display: grid;
        grid-template-columns: 1fr; 
        justify-items: center;
        gap:30px;
    }
    .pricingcard {
        width: 440px;
        height: 420px;
    }
}

/*Testimonial*/
.Testimonialscard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Testimonialscard img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /*
    border: 4px solid var(--background-color);
    margin: 0 auto;
    */
}
.Testimonialscard h3 {
    margin: 0 auto;
}
.Testimonialscard h4 {
    font-size: 14px;
    color: color-mix(in srgb, #444444, transparent 40%);/*color-mix(in srgb, var(--default-color), transparent 40%);*/
    margin: 0 0 15px 0;
}
.star svg  {
    width: 16px;
    height: 16px;
}
.Testimonialscard p {
    text-align: center;
    width: 58%;
}
.Testimonialscard_quote {
    width: 26px;
    height: 26px;
}



/* slide */

.Testimonialscard_container {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.Testimonialscard {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    transition: all 5s ease-in-out
}

.Testimonialscard:nth-child(1) {
    animation: slideShow 20s infinite;
}
.Testimonialscard:nth-child(2) {
    animation: slideShow 20s infinite 4s;
}
.Testimonialscard:nth-child(3) {
    animation: slideShow 20s infinite 8s;
}
.Testimonialscard:nth-child(4) {
    animation: slideShow 20s infinite 12s;
}
.Testimonialscard:nth-child(5) {
    animation: slideShow 20s infinite 16s;
}
@keyframes slideShow {
    0%, 16.66% {
        left: 0;
        opacity: 1;
    }
    20%, 36.666% {
        left: -100%;
        opacity: 1;
    }
    40%, 100% {
        left: -200%;
        opacity: 1;
    }
}

/* 원 */

.swiper_page {
    text-align: center;
}
.swiper_page_bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: color-mix(in srgb, #444444, transparent 85%); /*color-mix(in srgb, var(--default-color), transparent 85%);*/
    border-radius: 50%;
    cursor: pointer;
}
.swiper_page_bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: color-mix(in srgb, #444444, transparent 85%); /* 초기 색 */
    border-radius: 50%;
    cursor: pointer;
    animation: bulletAnimation 32s infinite; /* 애니메이션 적용 */
}

/* 애니메이션 정의 */

@keyframes bulletAnimation {
    0%, 100% {
        background-color: color-mix(in srgb, #444444, transparent 85%); /* 원래 색 */
        background-color: #47b2e4;
    }
    12.5%, 87.5% {
        background-color: color-mix(in srgb, #444444, transparent 85%);

    }
}
.swiper_page_bullet:nth-child(1) {
    animation-delay: 0s; /* 첫 번째 원: 0초부터 시작 */
}

.swiper_page_bullet:nth-child(2) {
    animation-delay: 4s; /* 두 번째 원: 4초 뒤 시작 */
}

.swiper_page_bullet:nth-child(3) {
    animation-delay: 8s; /* 세 번째 원: 8초 뒤 시작 */
}

.swiper_page_bullet:nth-child(4) {
    animation-delay: 12s; /* 네 번째 원: 12초 뒤 시작 */
}

.swiper_page_bullet:nth-child(5) {
    animation-delay: 16s; /* 다섯 번째 원: 16초 뒤 시작 */
}

.swiper_page_bullet:nth-child(6) {
    animation-delay: 20s; /* 여섯 번째 원: 20초 뒤 시작 */
}

.swiper_page_bullet:nth-child(7) {
    animation-delay: 24s; /* 일곱 번째 원: 24초 뒤 시작 */
}

.swiper_page_bullet:nth-child(8) {
    animation-delay: 28s; /* 여덟 번째 원: 28초 뒤 시작 */

    background-color: white;
    box-sizing: border-box;
    height: 100dvh;
}