body {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    background-color: red;
    box-sizing: border-box;
    height: 100dvh;
}

.Home {
    height: 50px;
    background-color: white;
}